

.block-center {
    margin: 0 auto;
}

.form {
    width: 340px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow:  4px 4px 25px 0 rgba(34, 60, 80, 0.2);;
    margin: calc(40vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.text-h {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c
}

.form_input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

.form_input:focus {
    border-bottom: 2px solid #78788c
}

.p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}
.form button{
    margin-top: 10px;
}
.text-danger{
    color:red;
}

.span {
    margin: 0 5px 0 15px
}
.ale{
    align-items: end;
}
.grid {
    width: 75%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.grid > .item {
    margin: 10px 15px 10px 15px;
    min-height: 330px;
    max-height: 400px;
    width: 29%;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 18px 2px rgba(34, 60, 80, 0.09);
    display: flex;
    padding: 1em;
    align-items: end;
    height: 100%;
}
@media (max-width: 1096px) {
    .grid > .item {
        width: 44%;
        max-height: 380px;
    }
    .item > .item-img{
        height: 175px !important;
    }
}
@media (max-width: 645px) {
    .grid > .item{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .grid{
        margin:  0 auto;
    }
    .grid > .item {
        width: 95%;
        max-height: 380px;
    }
    .item > .item-img{
        height: 175px !important;
    }
}

@media (max-width:325px) {
    .grid{
        width: 99%;
    }
    .grid > .item{
        width: 100%;
    }
}

.item > .item-img{
    border-radius: 25px;
    height: 125px;
    width: 100%;
    object-fit: cover;
}
.item-price{
    font-weight: bold;
    font-size: 1.1rem;
}
.item-price:after{
    content: ' руб.';
}
.item-name,.item-category{
    font-size: 0.8rem;
}
.item-link{
    margin-bottom: 1.5rem;
}
.item > .btn{
    width: 49%;
}
.under{
    margin-top: 25px;
    width: 100%;
}
.mt-5{
    margin-top: 100px;
}
.minicard{
    display: flex;
    flex-direction: column;
    position: relative;
}
.minicard img{
    border-radius: 10px;
}
.minicard a{
    color: black;
    text-decoration: none;
}
.minicard a:hover{
    transform: translateY(-5px);
}
.list__bottom{
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
}
.subtitle{
    display: flex;
    flex: 1 0 auto;
}
.filter{
    width: 24%;
}

.item-detail{
    margin-top: 25px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 18px 2px rgba(34, 60, 80, 0.1);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.item-detail-header{
    width: 100%;
}
.item-detail-group{
    width: 60%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.item-detail-img{
    width: 40%;
}
.item-detail-img img{
    max-width: 400px;
    border-radius: 25px;
}
.item-detail-price{
    padding: 0 15px 0 15px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 0 0.3pt #b0b0b0;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
}
.item-detail-price > form > input{
    width: 15%;
}
.item-detail-price > form > .btn{
    width: 100%;
    margin-top: 25px;
}
.item-detail-price_before:before{
    content: " Цена";
    width: 100%;
    font-weight: normal;
    font-size: 1rem;
}
.item-detail-price .item-detail-price_before > p{
    font-weight: bold;
    font-size: 2rem;
}
.item-detail-price .item-detail-price_before > p:after{
    content: " ₽";
}

@media (max-width: 1024px) {
    .item-detail-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item-detail{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item-detail-group{
        width: 75%;
        justify-content: space-evenly;
    }
    .item-detail-img{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 25px;
    }
    .item-detail-img img{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .item-detail-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item-detail{
        width: 75%;
    }
    .item-detail-group{
        width: 100%;
        justify-content: space-around;
    }
    .item-detail-header{
        order: -2;
    }
    .item-detail-img{
        order: -1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 25px;
    }
    .item-detail-img img{
        width: 100%;
    }
    .item-detail-category{
        text-align: center;
        width: 100%;
        margin-top: 25px;
        order: 3;
    }
    .item-detail-price{
        order: 2;
        justify-content: center;
        height: 150px;
    }
    .item-detail-price > form > .btn {
        margin-top: 0;
    }
    .item-detail-price > form > input{
        display: none;
    }
}






@media(max-width: 720px){
    .form{
        margin: calc(45vh - 220px) auto;
    }
}
